# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
dist_storybook
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace
*.sublime-project
.DS_Store

.bundle
.cache
.yarnrc
.npmrc
.eslintcache
.tmp
dist
coverage
node_modules/
demo/zxcvbn.js